<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>AdminAddUserValidation</filter-name>
        <filter-class>com.esmizdream.futurejobs.formvalidation.AdminAddUserValidation</filter-class>
    </filter>
    <filter>
        <filter-name>EditAdminValidation</filter-name>
        <filter-class>com.esmizdream.futurejobs.formvalidation.EditAdminValidation</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EditAdminValidation</filter-name>
        <url-pattern>/EditAdmin</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAddUserValidation</filter-name>
        <url-pattern>/Admin</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.esmizdream.futurejobs.admin.servlet.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAdmin</servlet-name>
        <servlet-class>com.esmizdream.futurejobs.admin.servlet.EditAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployer</servlet-name>
        <servlet-class>com.esmizdream.futurejobs.employer.servlet.AddEmployer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuspendAdmin</servlet-name>
        <servlet-class>com.esmizdream.futurejobs.admin.servlet.SuspendAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEmployer</servlet-name>
        <servlet-class>com.esmizdream.futurejobs.employer.servlet.ViewEmployer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuspendEmployer</servlet-name>
        <servlet-class>com.esmizdream.futurejobs.employer.servlet.SuspendEmployer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployer</servlet-name>
        <servlet-class>com.esmizdream.futurejobs.employer.servlet.EditEmployer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddJobCategory</servlet-name>
        <servlet-class>com.esmizdream.futurejobs.jobcategory.AddJobCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewJobCategory</servlet-name>
        <servlet-class>com.esmizdream.futurejobs.jobcategory.ViewJobCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuspendJobCategory</servlet-name>
        <servlet-class>com.esmizdream.futurejobs.jobcategory.SuspendJobCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddJob</servlet-name>
        <servlet-class>com.esmizdream.futurejobs.job.servlet.AddJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetaileJob</servlet-name>
        <servlet-class>com.esmizdream.futurejobs.job.servlet.DetaileJob</servlet-class>
    </servlet>
 
    <servlet>
        <servlet-name>JobSeeker</servlet-name>
        <servlet-class>com.esmizdream.futurejobs.jobseeker.servlet.JobSeeker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubEmployer</servlet-name>
        <servlet-class>com.esmizdream.futurejobs.employer.servlet.AddSubEmployer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSubEmployer</servlet-name>
        <servlet-class>com.esmizdream.futurejobs.employer.servlet.ViewSubEmployer</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>AddJob</servlet-name>
        <url-pattern>/AddJob</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewJob</servlet-name>
        <servlet-class>com.esmizdream.futurejobs.job.servlet.ViewJob</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewJob</servlet-name>
        <url-pattern>/ViewJob</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditJob</servlet-name>
        <servlet-class>com.esmizdream.futurejobs.job.servlet.EditJob</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditJob</servlet-name>
        <url-pattern>/EditJob</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SuspendJob</servlet-name>
        <servlet-class>com.esmizdream.futurejobs.job.servlet.SuspendJob</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SuspendJob</servlet-name>
        <url-pattern>/SuspendJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAdmin</servlet-name>
        <url-pattern>/EditAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployer</servlet-name>
        <url-pattern>/AddEmployer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuspendAdmin</servlet-name>
        <url-pattern>/SuspendAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEmployer</servlet-name>
        <url-pattern>/ViewEmployer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuspendEmployer</servlet-name>
        <url-pattern>/SuspendEmployer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployer</servlet-name>
        <url-pattern>/EditEmployer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddJobCategory</servlet-name>
        <url-pattern>/AddJobCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewJobCategory</servlet-name>
        <url-pattern>/ViewJobCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuspendJobCategory</servlet-name>
        <url-pattern>/SuspendJobCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetaileJob</servlet-name>
        <url-pattern>/DetaileJob</url-pattern>
    </servlet-mapping>
 
    <servlet-mapping>
        <servlet-name>JobSeeker</servlet-name>
        <url-pattern>/JobSeeker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubEmployer</servlet-name>
        <url-pattern>/AddSubEmployer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSubEmployer</servlet-name>
        <url-pattern>/ViewSubEmployer</url-pattern>
    </servlet-mapping>
 
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
